[Desktop Entry]
  Name=Game Miner
  Comment=Manage your non steam library games easily
  Exec=game_miner
  Icon=./icon.png
  Terminal=false
  Type=Application
  Categories=Gamming