[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=$CURRENTDIR
Name=GameMiner
Comment=Non-Steam Games Library Manager
Comment[es]=Gestor de bibliotecas de juegos no-Steam
Icon=GameMiner
